/* CSS files add styling rules to your content */

@font-face {
  font-family: "agrandir";
  src: url("https://cdn.glitch.com/48148101-fd03-4307-bb35-8b499426094f%2FAgrandir-WideLight.otf?v=1585937971765");
}

body,
html {
  font-family: "agrandir", sans-serif;
  margin: 0px;
  background-color: #F2F2F2;
  font-size: 18px;
     cursor: url("https://cdn.glitch.com/4154bd98-c21d-4bf8-bdd0-3cff0c2d33ff%2Fcursor2.svg?v=1587491668618"),
    auto;
}

a {
  text-decoration: none;
  color: black;
     cursor: url("https://cdn.glitch.com/4154bd98-c21d-4bf8-bdd0-3cff0c2d33ff%2Fcursor2.svg?v=1587491668618"),
    auto;
}

.nav {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.col {
  flex: 50%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 10px 72px 10px 72px;
  background-color: #8BDAAA;
}

.intro {
  font-size: 54px;
  padding: 80px 72px 20px 72px;
}

.cr {
  display: flex;
}

.contact {
  display: flex;
  flex: 50%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 20px 72px 20px 72px;
  font-size: 24px;
  background-color: #8BDAAA;
}

.project-header {
  font-size: 54px;
  padding: 40px 72px 20px 72px;
}

.home-projects {
  display: flex;
  margin: 0px 62px 20px 62px;
}

.work {
  display: flex;
  flex: 50%;
  margin: 0px 10px 0px 10px;
  border: 1px solid black;
}

.work:hover {
  background: rgba(139, 218, 171, 0.2);
}

.work:hover img {
  opacity: 0.5;
}

.work-a {
  width: 50%;
  border-right: 1px solid black;
  padding: none;
}

.work-a1 {
  border-bottom: 1px solid black;
  font-size: 24px;
  padding: 30px 0px 30px 30px;
  margin: 0 none;
}

.work-a2 {
  height: 90px;
  font-size: 18px;
  padding: 30px 0px 0px 30px;
}

.work-b {
  display: inline-block;
  width: 50%;
}

.img {
  width: 100%;
}

.smartie-small {
  padding-left: 10%;
}

.zest-small {
  padding-left: 15%;
}

.ladle-small {
  padding-left: 20%;
  padding-top: 20%;
}

.bee-small {
  padding-left: 15%;
}

.bloom-small {
  padding-left: 10%;
  padding-top: 10%;
  transform: rotate(20deg);
}

.footer {
  border-top: 1px solid black;
  margin-top: 50px;
  padding: 30px 72px 30px 72px;
  background-color: #8BDAAA;
}

.social-media {
  text-align: right;
  margin-top: -25px;
}

/* project pages */

.project-title {
  font-size: 50px;
  padding: 80px 72px 20px 72px;
  border-bottom: 1px solid black;
}

.project-intro {
  display: flex;
}

.project-type {
  flex: 50%;
  padding: 50px 150px 0px 150px;
  font-size: 18px;
}

.project-type-2 {
  flex: 50%;
  padding: 50px 150px 0px 0px;
  font-size: 18px;
}

.project-content {
  padding: 60px 140px 0px 140px;
  display: block;
}

.half-img-container {
  display: flex;
}

.full-img {
  display: block;
  margin: 0px 10px 10px 10px;
}

.half-img {
  flex: 50%;
  height: auto;
  margin: 0px 10px 10px 10px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1100px) {
  .intro,
  .project-header {
    font-size: 48px;
  }

  .contact {
    font-size: 24px;
    padding: 20px 20px 20px 72px;
  }

  .work-a1 {
    font-size: 24px;
    padding: 18px;
  }

  .work-a2 {
    font-size: 18px;
    padding: 18px;
    height: 60px;
  }

  .project-title {
    font-size: 48px;
    padding: 80px 72px 20px 72px;
  }

  .project-type {
    font-size: 18px;
  }

  .project-content {
    padding: 30px 62px 0px 62px;
  }
}

@media only screen and (max-width: 900px) {
  .col {
    padding: 10px 50px 10px 50px;
  }

  .intro {
    padding: 70px 50px 20px 50px;
    font-size: 36px;
  }

  .project-header {
    font-size: 36px;
    padding: 20px 20px 20px 50px;
  }

  .cr {
    display: block;
  }

  .contact {
    display: block;
    padding: 20px 20px 20px 50px;
    font-size: 24px;
    margin-top: -1px;
  }

  .home-projects {
    display: block;
    margin: 0px 50px 20px 50px;
  }

  .work {
    margin: 0px 0px 20px 0px;
  }

  .work-a1 {
    font-size: 24px;
  }

  .work-a2 {
    font-size: 18px;
  }

  .project-intro {
    display: block;
  }

  .project-title {
    font-size: 36px;
    padding: 60px 50px 10px 50px;
  }

  .project-type {
    font-size: 18px;
    padding: 20px 50px 20px 50px;
    margin-top: -1px;
    background-color: #F2F2F2;
  }

  .project-type2 {
    margin-top: -1px;
    background-color: #F2F2F2;
    padding: 20px 50px 20px 50px;
  }

  .project-content {
    padding: 30px 40px 0px 40px;
  }

  .half-img-container {
    display: block;
  }

  .footer {
    border-top: 1px solid black;
    margin-top: 30px;
    padding: 20px 50px 20px 50px;
  }
}

@media only screen and (max-width: 550px) {
  .intro {
    font-size: 24px;
    padding: 70px 30px 20px 30px;
  }

  .project-header {
    font-size: 24px;
    padding: 30px 30px 20px 30px;
  }

  .col {
    padding: 10px 30px 10px 30px;
  }

  .contact {
    display: block;
    padding: 10px 30px 10px 30px;
    font-size: 18px;
    margin-top: -1px;
  }

  .home-projects {
    margin: 0px 30px 20px 30px;
    display: block;
  }

  .project-title {
    font-size: 36px;
    padding: 60px 30px 10px 30px;
  }

  .work-a1 {
    font-size: 20px;
  }

  .work-a2 {
    font-size: 14px;
  }

  .project-type {
    font-size: 16px;
    padding: 20px 30px 20px 30px;
  }

  .project-type2 {
    font-size: 16px;
    margin-top: -1px;
    background-color: #F2F2F2;
    padding: 20px 30px 20px 30px;
  }

  .project-content {
    padding: 30px 20px 0px 20px;
  }

  .footer {
    border-top: 1px solid black;
    margin-top: 30px;
    padding: 20px 30px 20px 30px;
  }
}
